<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% block csspath %}{% endblock %}" type="text/css">
</head>
<body>
    <ul>
        <li><a href="" target="_blank">我的家</a></li>
        <li><a href="" target="_blank">要幸福</a></li>
        <li><a href="" target="_blank">要健康</a></li>
        <li><a href="" target="_blank">要长寿</a></li>
        <li><a href="" target="_blank">要有钱</a></li>
    </ul>
    {% block main %}
    {% endblock %}
</body>
</html>
